body{
  background-color: yellowgreen ;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vvh;
}

.form {
  width: 200px;
  display: flex;
  flex-direction: column;
  
}

.form input,
.form textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 20px;
  border-radius: 10px;
  
}

.buttons {
  display: flex;
  justify-content: space-between;
  
}

button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 15px;
  cursor: pointer;
  background-color:green;
  color: #fff;
  border: none;
  border-radius: 5px;
}
